
footer{
	width:95% !important;
	ul>li{
		line-height:2rem;
	}
	a{
		text-decoration: none;
	}
	.footer-bg{
		height:30px;
		background-image: url(../assets/images/bg-objects/Bg-object-2.png);
		background-repeat:no-repeat;
		background-size: cover;
	}
}