.header {
    font-size: 3.2rem;
}

.head {
    margin: 10% 0;
}

.display-1 {
    font-weight: 700;
}

#virgil-abloh {
    width: 487px;
    height: 325px;
}

.products-2 {
    margin: 100px 0px;
}

.shoes-1 {
    max-width: 320px;
    max-height: 310px;
    z-index: 3;
}

.shoes-2 {
    max-width: 361px;
    max-height: 241px;
    z-index: 2;
}

.shoes-3 {
    margin-left: 110px;
    max-width: 359px;
    max-height: 239px;
    z-index: 2;
}

.product-content {
    height: 600px;
    margin-top: 100px !important;
}