/*IMPORTS*/
@import url(//db.onlinewebfonts.com/c/a59a10fc173a405262ecba082980066e?family=Aktiv+Grotesk);

/*VARIABLES*/
$font-main:'Aktiv Grotesk';
$primary-color:#fff;
$bg-color:#000;
$active-color:#FF3D00;

$marquee-width: 100vw;
$marquee-height: 5vh;
$marquee-elements: 10;
$marquee-elements-displayed:20;
$marquee-element-width: calc(($marquee-width) / ($marquee-elements-displayed));
/*RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x:hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GENERAL SETTINGS */
#bootstrap-override{
    background-color:$bg-color;
	font-family: $font-main;
	font-size:16px;

	h1,h2,h3,h4,h5,h6,p,a,li,span,figcaption{
		color:$primary-color;
	}
	p,a,li,span{
		font-weight:lighter;
	}
	sup{
		font-size:16px !important;
		color:#fff;
	}
	.navbar-toggler{
		color:$bg-color;
		background-color: $primary-color;
	}
	.navbar-toggler-icon{
		background-color: $primary-color;
	}
	.bg-red{
		background-color:$active-color;
	}
}

.header{
	font-size:3.2rem;
}

.jumbotron{
	margin:10% auto;
}
.jumbotron-content{
	background-image:url(../assets/images/bg-objects/Bg-object.png);
	background-repeat:no-repeat;
	background-size: cover;
	height:600px;
	img{
		border-radius:0;
	}
	div{
		margin-left:0;
		padding-left:0;
	}
}
.product-content{
	height:600px;
	margin-top:100px !important;
}

/*MARGINS*/

$spaceamounts:(1,2,3,4,5,6,7,8,9,10);

@each $space in $spaceamounts{
	.negative-t-#{$space} {
		margin-top:-#{$space}rem;
	}
	
	.negative-b-#{$space} {
		margin-bottom:-#{$space}rem;
	}
	.negative-r-#{$space} {
		margin-right:-#{$space}rem;
	}
	.negative-l-#{$space} {
		margin-left:-#{$space}rem;
	}
	
}
/*IMAGE SIZING*/
$sizeamounts:(8,9,10,11,12,13);

@each $size in $sizeamounts {
	.size-#{$size}{
		width: #{$size * 1.125}rem;
		height: #{$size * 1.5}rem;
	}
}

#virgil-abloh{
	width:487px;
	height:325px;
}

.marquee2{
	background-color:$primary-color;
	margin: 150px 0px;
	height: 50px;
	overflow: hidden;
	position: relative;	
	p {
	   color:$bg-color !important;
	   position: absolute;
	   width: 100%;
	   height: 100%;
	   margin: 0;
	   line-height: 50px;
	   font-size:1.4rem;
	   font-weight:bolder !important;
	   text-align: center;
	   -moz-transform: translateX(100%);
	   -webkit-transform: translateX(100%);
	   transform: translateX(100%);
	   -moz-animation: scroll-left 2s linear infinite;
	   -webkit-animation: scroll-left 2s linear infinite;
	   animation: scroll-left 20s linear infinite;
	}

	.p2{
		animation-delay: 10s;
	}
}


.shoes-1{
	max-width:320px;
	max-height:310px;
	z-index:3;
}

.shoes-2{
	max-width:361px;
	max-height:241px;
	z-index:2;
}
 .shoes-3{
	 margin-left:110px;
	max-width:359px;
	max-height:239px;
	z-index:2;
}

footer{
	width:95% !important;
	ul>li{
		line-height:2rem;
	}
	a{
		text-decoration: none;
	}
	.footer-bg{
		height:30px;
		background-image: url(../assets/images/bg-objects/Bg-object-2.png);
		background-repeat:no-repeat;
		background-size: cover;
	}
}

$marquee-width: 100vw;
$marquee-height: 5vh;
$marquee-elements: 10;


:export{
    marqueeWidth : $marquee-width;
    marqueeHeight: $marquee-height;
    marqueeElements: $marquee-elements;
    marqueeElementWidth: $marquee-element-width;
}

.marquee-wrapper{
	position:relative;
}

.marquee, .marquee-1{
    width:$marquee-width;
    height:$marquee-height;
    overflow:hidden;
}

.marquee-content, .brand-marquee{
    list-style: none;
    height:100%;
    display:flex;
    animation: scroll 10s linear infinite;
    li>img{
        width:5vw;
        flex-shrink:0;
    }
    li{
        white-space:nowrap;
        justify-content: center;
        width:$marquee-element-width;
        flex-shrink: 0;
        align-items: center;
    }
    
}

#marquee-container-2{
	position:absolute;
	top:27%;
}
.marquee-1{
	background-color:#fff;

}
.brand-marquee{
      
	li{
		position:relative;
		font-size:1.2rem;
		width:10vw;
		flex-shrink:0;
		align-items:center;
		justify-content:center;
		padding:10px 0px;
		h2{
			color:#000 !important;
			font-weight:700;
		}
	}
}

.brand-name:before{
	content:'';
	width:15px;
	border:1px solid black;
	transform:rotateY(45deg);
	position:absolute;
	top:43%;
	right:13%;
}



@keyframes scroll{
    0%{transform:translateX(0vw)}
    100%{transform:translate(calc(-1*5vw*20))}
}


